:root {
    --primary-color: #2F303A; /* Основний колір */
    --secondary-color: #757575; /* Додатковий колір */
    --background-color: #F5F4FA; /* Колір фону */
    --text-color: white; /* Основний колір тексту */
    --accent-color: #2196F3; /* Акцентний колір */
}
header{
    background-color: var(--background-color);
}
.section1{
    background-color: var(--primary-color);
}
.number1{
    color: var(--secondary-color);
}
.email1{
    color: var(--accent-color);
}
h1{
    color: var(--text-color);
}
.button1{
    color: var(--text-color);
    background-color: var(--accent-color);
}
.section2{
    background-color: var(--text-color);
}
.section3{
    background-color: var(--text-color);
}
.section4{
    background-color: var(--background-color);
}
footer{
    background-color: var(--primary-color);
}
.a1portf{
    background-color: var(--background-color);
}
.a2portf{
    background-color: var(--background-color);
}
.a3portf{
    background-color: var(--background-color);
}
.a4portf{
    background-color: var(--background-color);
}
.a5portf{
    background-color: var(--background-color);
}
.fig0{
    border: solid;
}
.fig1{
    border: solid;
}
.fig2{
    border: solid;
}
.fig3{
    border: solid;
}
.fig4{
    border: solid;
}
.fig5{
    border: solid;
}
.fig6{
    border: solid;
}
.fig7{
    border: solid;
}
.fig8{
    border: solid;
}